$PLUGIN autodec nm-vars Rcpp
$PROB {{{problem}}}

$PARAM
{{{param}}}

{{{cmt}}}

{{{pkblock}}}
{{{init}}}

{{{desblock}}}

{{{predblock}}}

{{{randstruct}}}

{{{sigmablock}}}

{{{errorblock}}}

{{{mdl_ret}}}
